<div id="sidebar">
  <h2>Tutorial Builder</h2>
  <div id="tutorial-form"></div>
  <h2>Tutorial Steps</h2>
  <div id="tutorial-steps-form" class="accordion"></div>
  <a href="#" id="new-step" class="btn btn-large btn-primary">Add New Step</a>
</div>

<iframe id="url-preview"></iframe>
